<div class="page-wrapper">
  <!-- About the site -->
  <div class="content">
    <h2>About Swagbacker</h2>
    <p>Swagbacker was born out of a job interview task. Since then we have gone from strength to strength thanks to the support of the community!</p>
  </div>
  <!-- How it works -->
  <div class="content">
    <h2>How it Works</h2>
    <p>Every week we will put up a product to be backed. If enough orders are placed to reach the product's goal, we'll get them shipped out to everybody who ordered.</p>
    <p>Once the backing period is over, if the product was funded, we will send out an email to all backers asking for their delivery address and any additional details (size/colour). New orders will not be able to be placed after the backing period.</p>
  </div>
  <!-- Meet the team -->
  <div class="content">
    <h2>Meet the Team</h2>
    <div class="team-wrapper row">
      <div class="team-member col-12 col-sm-6 col-md-4">
        <div class="details-wrapper">
          <p>Fred Bloggs</p>
          <p>CEO</p>
          <p>Fred founded the site towards the end of 2018 after interviewing for a new job. He likes playing video games.</p>
        </div>
      </div>
      <div class="team-member col-12 col-sm-6 col-md-4">
        <div class="details-wrapper">
          <p>Lisa Bloggs</p>
          <p>Head of Development</p>
          <p>Joe was brought on by her brother Fred once the idea took off. She doesn't like playing video games.</p>
        </div>
      </div>
      <div class="team-member col-12 col-sm-6 col-md-4">
        <div class="details-wrapper">
          <p>Joe Bloggs</p>
          <p>Head of HR</p>
          <p>Joe was brought on to keep Fred and Lisa in check. He doesn't mind playing video games.</p>
        </div>
      </div>
    </div>
  </div>
</div>