<div class="page-wrapper">
  <!-- Latest offers-->
  <div class="content">
    <h2>Latest Offers</h2>
    <app-product-list [products]="products"></app-product-list>
  </div>
  <!-- News -->
  <div class="content">
    <h2>News</h2>
    <div class="news-item">
      <h3><span class="small"><em>1st Feb 2019</em></span> 300 Orders!</h3>
      <p>
        <strong>Thank you so much for a successful January!</strong>
        We had over 300 orders in our first month alone! We have already had one item funded, and are heading towards several more already.
      </p>
      <p>We've also added a Contact page to the site. If you have any requests for products you'd like to see on Swagbacker, get in touch. We can't guarantee we'll be able to grant every request, but it will help us get a good picture of what you're looking for.</p>
    </div>
    <div class="news-item">
      <h3><span class="small"><em>1st Jan 2019</em></span> Swagbacker Has Launched</h3>
      <p>
        <strong>You asked, we listened!</strong>
        Swagbacker is now live! We will be releasing a new piece of swag each week. If enough people place an order, we will ship the item out! Orders must be placed before the expiry date.
      </p>
    </div>
  </div>
</div>